:root{
    --color-1: #03045e;
    --color-2: #0077b6;
    --color-3: #00b4d8;
    --color-4: #90e0ef;
    --color-5: #caf0f8;
}

html{
    font-size: calc(min(5px + min(1vh, 0.7vw), 2vw));
}

body{
    margin: 0px;
    min-width: none;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

#content{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    box-sizing: border-box;
    padding: 20px;
    height: 100px;
    background-color: var(--color-4);
}

a{
    all: unset;
    cursor: pointer;
}

.title-container{
    height: 100%;
    font-size: 40px;

    display: flex;
    align-items: center;
    gap: 10px;
}


.title-container>.material-symbols-outlined {
  margin-top: 4px;
  font-size: 40px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 1000
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    padding: 20px;
    background-color: var(--color-5);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#search{
    box-sizing: border-box;
    font-size: 20px;

    border: 2px solid white;
    border-radius: 30px;

    padding: 15px;
    padding-left: 20px;

    width: 60%;
    min-width: 200px;

    transition: all 0.1s ease-in-out; 
}

#search:focus{
    outline-style: solid;
    border: 2px solid var(--color-2);
    transition: border 0.3s;
}

.error{
    height: 0px;
    padding: 10px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.info{
    display: none;
    flex-direction: column;

    font-size: 2rem;
    box-sizing: border-box;
    padding: 5rem;
    margin: 1rem;
    /* max-width: 50rem; */
    /* width: 40vw; */
    min-width: 42rem;
    
    background-color: var(--color-2);
    color: white;

    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.info:hover{
    transition: 300ms ease-in-out;
    transform: scale(1.03); 
}

.main-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.city{
    font-size: 5rem;
    font-weight: bold;
}

.country{
    font-size: 3rem;
    font-weight: bold;
}

.weather{
    font-size: 3rem;
}

.sub-info{
    padding: 1rem;
    display: flex;
    align-items: center;
}

.temp-container{
    font-size: 5rem;
    width: 50%;
}

sup{
    display: inline-block;
    vertical-align: super;
    font-size: 60%;
}

.extra-info{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;
    height: 100%;

    gap: 0.5rem;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    height: 75px;
    font-size: 24px;
    background-color: var(--color-4);
}

.footer-logo{
    margin-top: 7px;
}

.footer-github{
    height: 30px;
    margin-top: 4px;
    margin-left: 4px;
}
